#-------------------------
# Operating Specific Junk Files
#-------------------------

# OS X
Demo_Service/app/.DS_Store
Demo_Service/app/.AppleDouble
Demo_Service/app/.LSOverride

# OS X Thumbnails
Demo_Service/app/._*

# Windows image file caches
Demo_Service/app/Thumbs.db
Demo_Service/app/ehthumbs.db
Demo_Service/app/Demo_Service/app/Desktop.ini

# Recycle Bin used on file shares
Demo_Service/app/$RECYCLE.BIN/

# Windows Installer files
Demo_Service/app/*.cab
Demo_Service/app/*.msi
Demo_Service/app/*.msm
Demo_Service/app/*.msp

# Windows shortcuts
Demo_Service/app/*.lnk

# Linux
Demo_Service/app/*~

# KDE directory preferences
Demo_Service/app/.directory

# Linux trash folder which might appear on any partition or disk
Demo_Service/app/.Trash-*

#-------------------------
# Environment Files
#-------------------------
# These should never be under version control,
# as it poses a security risk.
Demo_Service/app/.env
Demo_Service/app/.vagrant
Demo_Service/app/Vagrantfile

#-------------------------
# Temporary Files
#-------------------------
Demo_Service/app/writable/cache/*
Demo_Service/app/!writable/cache/index.html

Demo_Service/app/writable/logs/*
!Demo_Service/app/writable/logs/index.html

Demo_Service/app/writable/session/*
!Demo_Service/app/writable/session/index.html

Demo_Service/app/writable/uploads/*
!Demo_Service/app/writable/uploads/index.html

Demo_Service/app/writable/debugbar/*
!Demo_Service/app/writable/debugbar/.gitkeep

Demo_Service/app/php_errors.log

#-------------------------
# User Guide Temp Files
#-------------------------
Demo_Service/app/user_guide_src/build/*
Demo_Service/app/user_guide_src/cilexer/build/*
Demo_Service/app/user_guide_src/cilexer/dist/*
Demo_Service/app/user_guide_src/cilexer/pycilexer.egg-info/*

#-------------------------
# Test Files
#-------------------------
Demo_Service/app/tests/coverage*

# Don't save phpunit under version control.
Demo_Service/app/phpunit

#-------------------------
# Composer
#-------------------------
Demo_Service/app/vendor/

#-------------------------
# IDE / Development Files
#-------------------------

# Modules Testing
Demo_Service/app/_modules/*

# phpenv local config
Demo_Service/app/.php-version

# Jetbrains editors (PHPStorm, etc)
Demo_Service/app/.idea/
Demo_Service/app/*.iml

# Netbeans
Demo_Service/app/nbproject/
Demo_Service/app/build/
Demo_Service/app/nbbuild/
Demo_Service/app/dist/
Demo_Service/app/nbdist/
Demo_Service/app/nbactions.xml
Demo_Service/app/nb-configuration.xml
Demo_Service/app/.nb-gradle/

# Sublime Text
Demo_Service/app/*.tmlanguage.cache
Demo_Service/app/*.tmPreferences.cache
Demo_Service/app/*.stTheme.cache
Demo_Service/app/*.sublime-workspace
Demo_Service/app/*.sublime-project
Demo_Service/app/.phpintel
Demo_Service/app/api/

# Visual Studio Code
Demo_Service/app/.vscode/

Demo_Service/app/results/
Demo_Service/app/phpunit*.xml
Demo_Service/app/.phpunit.*.cache

